// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// custom:
$orange: #fcb984;
$light-blue: #295970;
$dark-blue: #6b8a9e;
$cream: #faeadd;
$white: #fafafa;
$black: #141414;
$purple: #aa4fa7;
