@import "../config/colors";
// custom:
.bg-orange {
  background-color: $orange;
}
.bg-dark-blue {
  background-color: $dark-blue;
}
.bg-light-blue {
  background-color: $light-blue;
}
.bg-cream {
  background-color: $cream;
}
.bg-white {
  background-color: $white;
}
.bg-black {
  background-color: $black;
}
.bg-purple {
  background-color: $purple;
}
.text-white {
  color: $white;
}
