@import "../components/navbar";

$spacing: 16px;
// top offset inclusive of navbar height
.top-nav-1 {
  top: $navbarHeight;
}

.top-nav-1 {
  top: $navbarHeight + ($spacing * 0.25);
}

.top-nav-2 {
  top: $navbarHeight + ($spacing * 0.5);
}

.top-nav-3 {
  top: $navbarHeight + $spacing;
}

.top-nav-4 {
  top: $navbarHeight + ($spacing * 1.5);
}

.top-nav-5 {
  top: $navbarHeight + ($spacing * 3);
}
