<%# Example instruction: 'Translate the following sentence'%>

<h3><%= @card.instruction %></h3>
<div class="context border border-3 rounded p-5 mt-5 mb-5">
  <p><%= @card.context %></p>
</div>
<%# <p class="border border-3 rounded-pill p-2">= @card.model_answer</p> %>
