<div class="cards-content d-flex border justify-content-between p-3 shadow rounded">
  <div class="left-side">
    <div class="bookmark-icon" style="width: 2rem; display: inline-block;">
      <%= lucide_icon('bookmark-check') if card.bookmarked %>
    </div>
    <%= link_to "#{card.instruction}", card_path("learning", card.id) %>
  </div>
  <div class="right-side d-flex gap-5">
    <div text-align="center" style="width: 12rem;">
      <p class="badge rounded-pill <%= "pill-#{card.card_template.name.downcase.gsub(" ", "-")}" %> "> <%= card.card_template.name %></p>
    </div>
    <p><% if card.correct == true %>
        <i class="fa-regular fa-circle-check text-success"></i>
      <% else %>
        <i class="fa-regular fa-circle-xmark text-danger"></i>
      <% end %>
    </p>
  </div>
</div>
