<%= link_to card_path(card), class:"lesson-card" do %>
  <div class="d-flex border px-3 justify-content-between">
    <i class="fa-solid fa-bookmark"></i><p class="ms-3 my-0 py-3"><%= card.template.name %></p>
    <p class="ms-3 my-0 py-3"><%= card.instruction %></p>
    <p class="ms-3 my-0 py-3">
      <% if card.correct == true %>
        <i class="fa-regular fa-circle-check text-success"></i>
      <% elsif card.correct == false %>
        <i class="fa-regular fa-circle-xmark text-danger"></i>
      <% else %>
        <i class="fa-solid fa-question"></i>
      <% end %>
    </p>
  </div>
<% end %>
