<div>
  <div class="d-flex border px-3 justify-content-between">
    <i class="fa-solid fa-bookmark"></i><p class="ms-3 my-0 py-3"><%= card.template.name %></p>
    <p class="ms-3 my-0 py-3"><%= card.instruction %></p>
    <p class="ms-3 my-0 py-3"><% if card.complete? %> <i class="fa-regular fa-circle-check"></i> <% end %></p>
   </div>
</div>
