<h2 class="mx-5">Lessons</h2>
<div class="row">

  <% lessons.each do |lesson| %>
    <div class="col-4">
      <div class="bg-white d-flex flex-column justify-content-between p-2 border rounded-4 mt-1 text-decoration-none m-5 shadow h-100 d-inline-block">

        <div>
          <h3><strong><%= lesson.title %></strong></h3>
          <p class="mt-3"><%= lesson.description %></p>
        </div>

        <%= link_to "Begin Lesson", lesson_path(lesson), class:"ms-auto view-curriculum-btn" %>

      </div>
    </div>
  <% end %>
</div>
