<div class="d-flex justify-content-between p-5">
  <div class="back-to-lesson"><%= link_to 'Back to lesson', '#'%></div>
  <div class="bookmark-icon">Add to bookmarks
    <%= render 'shared/card_item',
        icon: 'bookmark',
        link: "#"%>
  </div>

</div>

<div class="container text-center">
  <div class="card-content">
    <h3>Instruction</h3>
    <div class="context border border-3 rounded p-5 mt-5 mb-5">
      <p>Context: Text/Image/Audio. This is where partials are rendered.</p>
    </div>
  <p class="border border-3 rounded-pill p-2">User answer</p>


  </div>


</div>
