.next-card-btn {
  background: #d63384;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 2.5rem;

  &:hover {
    background: #bd0c64
  }
}

.thumbnails .active {
  transform: scale(1.5)
}
