@import "navbar";

$sidebarWidth: 400px;
$sidebarItemIconSize: 32px;
$sidebarToggleBtnSize: 40px;
$sidebarToggleBtnTopOffset: 40px;

/* sidebar styling (expanded) */
.sidebar {
  min-width: $sidebarWidth;
  height: 100vh;
  background-color: var(--bs--secondary-bg);
}

.sidebar-header {
  height: 60px;
}

.sidebar-item:hover {
  background-color: var(--bs-secondary-bg-subtle);
}

.sidebar-item svg {
  width: $sidebarItemIconSize;
  height: $sidebarItemIconSize;
}

.sidebar-toggle-btn {
  width: $sidebarToggleBtnSize;
  height: $sidebarToggleBtnSize;
  border-radius: 50%;
  top: $navbarHeight - ($sidebarToggleBtnSize / 2);
  left: $sidebarWidth - ($sidebarToggleBtnSize / 2);
  z-index: 1;
}

/* sidebar styling (collapsed) */
.sidebar.collapsed {
  min-width: 40px;
}

.sidebar.collapsed h1 {
  display: none;
}

.sidebar.collapsed .sidebar-item span {
  display: none;
}

.sidebar.collapsed .sidebar-toggle-btn {
  left: 40px;
  rotate: 180deg;
}
